@model Modelo.Discente.Academico

@{
    ViewData["Title"] = "Apagar Acadêmico(a)";
}

<h1>Apagar Acadêmico(a)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistroAcademico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistroAcademico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nascimento)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AcademicoId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Retornar à listagem</a>
    </form>
</div>
